<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>投稿詳細画面</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="contents">
    <h1>投稿詳細画面</h1>
    <div class="detail">

        <!--投稿の画像-->
        <img th:src="${postDetailDto.postImageUrl}" alt="" style="width: 60px;">

        <!--ブックマーク数-->

        <!--投稿の説明文-->

        <!--アイテムの画像-->

        <!--アイテムのブランド名-->

        <!--ユーザー画像-->

        <!--ユーザー名-->

    </div>
</div>
</body>
</html>