<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coordinate_post.repository.BookmarkMapper">
    <insert id="saveBookmark">
        INSERT INTO bookmark (
        user_id,
        post_id
        ) VALUES (
        #{loginUserId},
        #{postId}
        )
    </insert>

    <select id="countByUserIdAndPostId" resultType="int">
        SELECT COUNT(*)
        FROM bookmark
        WHERE user_id = #{userId} AND post_id = #{postId}
    </select>

    <delete id="removeBookmark">
        DELETE FROM bookmark
        WHERE user_id = #{loginUserId} AND post_id = #{postId}
    </delete>

    <select id="selectBookmark" resultType="Bookmark">
        SELECT * FROM bookmark
        WHERE user_id = #{loginUserId} AND post_id = #{postId}
    </select>
</mapper>